div {}

h1 {
  font-family: 'Strait', sans-serif;
  color: grey;
  font-size: 35px;
  letter-spacing: 12px;
}

h2 {
  color: black;
  font-size: 25px;
}

p {
  font-size: 20px;
}

i {
  color: blue;
  font-size: 50px;
}

.fa-instagram {
  color: red;
  font-size: 50px;
}


 body {
  font-family: 'Strait', sans-serif;
  background-color: grey;
 }

#coverpic {
  width: 1400px;
}

.text {
  width: 1000px;
  margin: 0 auto;
}

.list-inline > li {
  display: inline-block;
  padding: 10 50px;
}

.pics {
  border-radius: 50%;
  width: 240px;
  padding: 40px;
}

.pics:hover {
    width: 340px;
}

.container {
  width: 1400px;
  text-align: center;
  margin: 0 auto;
  background-color: eff0f4;
}

.media {
  margin-top: 70;
}

.inspire {
  margin-bottom: 60px;
  letter-spacing: 5px
  font-family: 'Strait', sans-serif;
}

.table {
  text-align: center;
  width: 1400px;
  background-color: white;
  margin-top: 40px;
  padding-top: 50px;
}

